header, .brownbutton, #search, #delete {
    display: none;
}
.yellowtags:before {
    content: '( ';
}

.yellowtags:after {
    content: ' )';
}

ul li {
    font-size: 12px;
    padding-top: 5px;
}

.del {
    margin-left: 10px;
}

.listaTareas {
    font-size: 18px;
}