<!DOCTYPE html>
<html lang="es">

<header>
    <title>Gestión de tareas</title>
    <meta charset="utf-8" />
    <link href="../css/tasks.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.jpg">

</header>

<body>
    <header class="nav">
        <div class="left">
            <h1>GESTIÓN DE TAREAS</h1>
        </div>
        <div class="right">
            <div class="ident">
                <div class="ideLeft">
                    <img src="/imagenUsuario" alt="Foto usuario">
                </div>
                <div class="ideRight">
                    <h3> <%= user %> </h3>
                    <a>
                        <h2><a class="action_button" href="/logout">DESCONECTAR</a></h2>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="box">
            <h1 class="listaTareas"> Lista de Tareas</h1>
            <ul>
                <% if (tareas) { %>

                <% tareas.forEach(p =>{ %>
                <li>
                    <div class="li">
                        <strong><%= p.text %></strong>
                        <% p.tag.forEach( k=>{ %>
                        <span class="yellowtags"><%= k %></span>
                        <% }); %>
                        <a class="brownbutton" href="#">
                            <span> Marcar Finalizada</span>
                        </a>
                    </div>
                </li>
                <% }) %>
                <% } %>
                <li>
                    <input type="text" name="add_item" id="inputBar"><a class="brownbutton" href="#">Añadir</a>
                </li>
                <li>
                    <a class="eliminar" href="#">Eliminar tareas completadas</a>
                </li>

            </ul>
        </div>
    </div>

</body>

</html>